#div1{border: 1px; padding: 10px;}

img{float: left; padding:10px;}

#div3{background-color: #CCCCCC; margin: 10px;}

.changed{
	position: absolute;
	top: 100px;
	left: 100px;
	width: 400px;
	height: 400px;
}